<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Nuevo juego preimpreso</h3>
      <div class="row mt">
        <div class="col-lg-12">

            <%= render 'form' %>

<%= link_to 'Volver', preimpresos_path %>
      </div>
    </div>
  </section>
</section>
