<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Nuevo juego impreso</h3>
      <div class="row mt">
        <div class="col-lg-12">

            <%= render 'form' %>

<%= link_to 'Volver', subagencia_impresos_path(@impreso.subagencia) %>
      </div>
    </div>
  </section>
</section>
